<app-loading-spinner></app-loading-spinner>
<div class="full-height" style="display: flex;">
  <div class="full-height" style="width: 50%;">
    <app-cv-form
      *ngIf="!formSubmitted"
      (formSubmitted)="onFormSubmitted($event)"
      (pdfGenerated)="onPdfGenerated($event)"
      class="full-width full-height"
    ></app-cv-form>
    <app-chat-window
      *ngIf="formSubmitted"
      [chatMessages]="chatMessages"
      [cvPdfUrl]="cvPdfUrl"
      (pdfGenerated)="onPdfGenerated($event)"
      class="full-width full-height"
    ></app-chat-window>
  </div>
  <div class="full-height" style="width: 50%;">
    <app-pdf-viewer
      *ngIf="cvPdfUrl"
      [pdfUrl]="cvPdfUrl"
      class="full-width full-height"
    ></app-pdf-viewer>
  </div>
</div>
